// .signup-card {
//   border-radius: 25px;
//   width: 25rem;
// }
// .form-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
// }

// .register-form {
//   border: 1px solid gray;
//   padding: 30px;
// }
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
}

.register-form {
  border: 1px solid gray;
  padding: 30px;
}